@use '../util' as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
}
h1 {
    padding-top: rem(30);
	font-size: rem(40);
	letter-spacing: rem(5);
	font-family:lobster;
	@include breakpoint-down(small){
      padding-left: rem(70);

	}


}
h2{
	font-size: rem(27);
	font-family:arial;
}
a,
a:visited,
a:active {
	text-decoration: none;
}
