@use '../util' as *;
.b1{
    height: rem(50);
    width: rem(50);
    background-color: var(--fill);
    color: var(--white);


}
.dis{
    width: rem(300);
    height: rem(50);
    background-color: var(--white);
    color: var(--black);

}





