@use '../util' as *;

.title{

    input[type="button"]
		{
		background-color:var(--fill);
		color: black;
		border: solid var(--gray) rem(2);
		width:rem(50)
		}

		input[type="text"]
		{
		background-color:var(--fill);
		border: solid var(--gray) rem(2);
		width:rem(50)
		}
    }